{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    
    <!-- Image on top -->
    <div class="bakery-image-container mb-4">
        <img src="{% static 'bakery/images/bakery_front.png' %}" 
             alt="Heyerly's Bakery storefront" 
             class="img-fluid rounded shadow">
    </div>

    <!-- Text below -->
    <h2>Welcome to Heyerly's Bakery {{ name }}!</h2>

    <p>Located at 107 N Jefferson St, Ossian, IN, United States, Indiana!</p>
    <p>Explore our delicious menu and place your order online.</p>

    <div>

    </div>
</div>
{% endblock %}